<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonDock" version="2.0.2000" targetFramework="net40-Client" />
  <package id="AvalonEdit" version="5.0.4" targetFramework="net40-client" />
  <package id="Blend.Interctivity.WPF.v4.0" version="1.0.3" targetFramework="net40-Client" />
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net40-client" />
  <package id="Microsoft_Composite_library_package" version="1.0.0" targetFramework="net40-Client" />
  <package id="Prism" version="4.1.0.0" targetFramework="net40-Client" />
</packages>