################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wpf/DynamicNavBar/Wpf.DynamicNavBar/packages
/Wpf/AvalonDocking/packages/Extended.Wpf.Toolkit.3.3.0
