################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wpf/DynamicNavBar/Wpf.DynamicNavBar/packages
/Wpf/AvalonDocking/packages/Extended.Wpf.Toolkit.3.3.0
/Wpf/AvalonDock/AvalonDocking/packages/Extended.Wpf.Toolkit.3.3.0
/Wpf/AvalonDock/AvalonDockMVVM/.vs/AvalonDockMVVM/v15/Server/sqlite3
/Wpf/AvalonDock/AvalonDockMVVM/packages/Extended.Wpf.Toolkit.3.3.0
/Wpf/AvalonDock/AvalonDocking/.vs/AvalonDocking/v15/Server/sqlite3
/Wpf/AvalonDock/EdiSample/packages
/Wpf/AvalonDock/AvalonDockMVVM/packages
